.route-profile {
    max-width: fit-content;
    border-radius: 5px;
    margin: 10px;
}

.route-profile-visible {
    background-color: var(--lumo-primary-color-10pct);
}

.route-profile-invisible {
    background-color: var(--lumo-contrast-20pct);
}

.route-profile .tucne {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
}

.route-profile label {
    margin-top: 2px;
}

.routes-board {

}
